.IndexCateNav {
  position: absolute;
  bottom: 0;
  top: 245rem;
  width: 355rem;
  background-color: #fff;
  margin: 12rem;

  .nav {
    overflow-x: scroll;
    width: 323rem;
    height: 28rem;
    margin: 10rem auto;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      width: 450rem;
      display: flex;
      justify-content: space-between;



      li {
        font-size: 16rem;
      }

      .typeli {
        font-weight: bold;
        color: red;
        font-family: "楷体";
        font-size: 20rem;
      }
    }
  }
}