.ComModNav {
  border-radius: 10rem;
  width: 350rem;
  height: 85rem;
  background-color: #fff;
  margin: 15rem auto;
  overflow: hidden;
}
.ComModNav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20rem;
}
.ComModNav ul img {
  width: 30rem;
}
.ComModNav ul a {
  font-size: 14rem;
  color: #000;
}
