.ComTopNavBar {
  display: flex;
  justify-content: center;
  margin: 13rem 17rem;
  align-items: center;
}
.ComTopNavBar .left {
  height: 20rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14rem;
  margin-top: 2rem;
}
.ComTopNavBar .center {
  font-size: 20rem;
  margin-left: 90rem;
  margin-right: 80rem;
}
.ComTopNavBar a {
  color: #000;
}
