.My {
  background: linear-gradient(139.43deg, #47fe34 0%, #6eff5e 10%, #9fff96 25%, #cfffca 40%, #f5f5f5 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.My .AdressManage {
  box-sizing: border-box;
  width: 335rem;
  border-radius: 5rem;
  background: #ffffff;
  margin: auto;
  padding: 3rem 15rem;
}
.My .AdressManage a {
  font-size: 16rem;
  color: #000;
  line-height: 25rem;
}
