.My {
  background: linear-gradient(139.43deg, rgba(71, 254, 52, 1) 0%, rgba(110, 255, 94, 1) 10%, rgba(159, 255, 150, 1) 25%, rgba(207, 255, 202, 1) 40%, rgba(245, 245, 245, 1) 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .AdressManage {
    box-sizing: border-box;
    width: 335rem;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 1);
    margin: auto;
    padding: 3rem 15rem;

    a {
      font-size: 16rem;
      color: #000;
      line-height: 25rem;
    }
  }
}